<!--
 **************************************************************************
 * Copiright(C) 2016 Sergey Lupov
 *
 * English-in-Use (v.1.X.X) is an application for studying english.
 * Prepared english phrases are spoken in a random order.
 * You have to recall the translation of the phrase
 * and after a short pause they are spoken by the program automatically.
 *
 * Web Site: http://english-in-use.com
 * E-mail: sergey.lupov {at} english-in-use.com
 *
 * This file is part of English-in-Use.
 *
 * English-in-Use is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Foobar is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 ***************************************************************************
-->

@{
    //    ViewBag.Title = ViewBag.RND;
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model English_in_Use.Controllers.ViewParameters

    int count = 0;
}
<div>
    @Html.Partial("Text")
    @using (Html.BeginForm("Index", "Main", FormMethod.Get))
    {
        <input type=RADIO name="dir" value="EnRu" @Model.EnRu/>  @:Текст произносится на английском языке, затем (после паузы) на русском<br>
        <input type=RADIO name="dir" value="RuEn" @Model.RuEn/> @:Текст произносится на русском языке, затем (после паузы) на английском языке<br>
        <input type=RADIO name="dir" value="En" @Model.En/> @:Текст произносится только на английском языке<br><br>
        <input type=CHECKBOX name="Period" value="Slow" @Model.Slow/> @:Увеличить паузу<br><br>

        <input type="submit" name="startBtn" value="Пуск" style="font-size: 14pt; width: 100px; height: 50px; border-radius: 10px; background-color:rgb(221, 221, 221); box-shadow: 1px 1px 2px rgba(0,0,0,0.5);" />

        <input type="hidden" id="Words" name="Words" value="@Model.Words">
    }
</div>
@if (@ViewBag.showAction)
{
    @Html.Action("PartialIndex")
}

<div style="position:relative; top:20px;">
    <table id="tblWords" border=1>
        <tr>
            <td style="width:230px; padding:0 5px;">Основная форма</td>
            <td style="width: 230px; padding:0 5px;">Прошедшее время</td>
            <td style="width: 380px; padding: 0 5px;">Перевод</td>
            <td onclick="SetChars()" style="text-align:center;"><img src="/Content/Images/galka.png" style="width:16px;height:16px;"></td>
        </tr>

        @foreach (English_in_Use.Models.Phrases.VerbComponents verb in ViewBag.Verbs.verbs)
        {
            string[] wordsPres = verb.verbPresent.Split('[');
            string[] wordsPost = @verb.verbPast.Split('[');
            <tr>
                <td style="padding:0 5px;">
                    <b>@wordsPres[0]</b>
                    @if (wordsPres.Length > 1)
                    {
                        @: [@wordsPres[1]
                    }
                </td>
                <td style="padding:0 5px;">
                    <b>
                        @wordsPost[0]
                    </b>
                    @if (wordsPost.Length > 1)
                    {
                        @: [@wordsPost[1]
                    }
                </td>
                <td style="padding:0 5px;"><b>@verb.verbRus</b></td>
                <td><input type=CHECKBOX @if(Model.Words[count] == '1') { @("checked") } onchange = "RevChar(@count);" ></td>
                @{ count++; } 
            </tr>
        }
    </table>
</div>

<script>
function RevChar(num)
{
  var obj=document.getElementById('Words');
  var str = obj.value;
  var ch=str[num];
  if(ch=='0') ch='1';
  else        ch='0';
  obj.value=str.substring(0, num)+ch+str.substring(num+1);
}

function SetChars()
{
  var str="";
  var table = document.getElementById('tblWords');
  var inputs= table.getElementsByTagName('input');

  var isCheck = false;
  var words = document.getElementById('Words').value;

  for (var i = 1; i < words.length; i++)
  {
      if(words[i]=='0')
      {
          isCheck = true;
      }
  }

  for(var i=0; i<inputs.length; i++)
  {
    inputs[i].checked=isCheck;
    str+=isCheck?"1":"0";
  }
  document.getElementById('Words').value = str;
}

</script>

